<style>
section#back, section#review, section#edit, button#play { display: none }
</style>

<!-- because browsers won't auto-play audio/video without interaction first -->
<button id="play">play</button>

<section id="front">
<%= @card[:front] %>
</section>

<section id="reveal">
  <button id="flip">show</button>
</section>

<section id="back">
<%= @card[:back] %>
</section>

<section id="review">
<form action="/card/<%= @card[:id] %>/review" method="post">
  <label>1 <input id="again" type="submit" name="rating" value="again"></label>
  <label>2 <input id="hard"  type="submit" name="rating" value="hard"></label>
  <label>3 <input id="good"  type="submit" name="rating" value="good"></label>
  <label>4 <input id="easy"  type="submit" name="rating" value="easy"></label>
</form>
<button id="showedit">edit</button>
</section>

<section id="edit">
<form action="/card/<%= @card[:id] %>/edit" method="post">
  <label>deck:
    <input type="text" name="deck" value="<%= @card[:deck] %>">
  </label>
  <label>front:
    <textarea name="front"><%= Rack::Utils.escape_html(@card[:front]) %></textarea>
  </label>
  <label>back:
    <textarea name="back"><%= Rack::Utils.escape_html(@card[:back]) %></textarea>
  </label>
  <input type="submit" value="update">
</form>
</section>

<script>
// global array of audio/video elements & index
let media = [];
let i = 0;

/* load global media[] array with <audio>/<video> in this <section id="id"> */
function loadmedia(id) {
  media = Array.from(document.querySelector(`#${id}`).querySelectorAll('audio, video'));
  i = 0;
}

/* play <audio>/<video> in global media[] array */
function playmedia() {
  if (i < media.length) {
    let av = media[i];
    av.play();
    av.addEventListener('ended', function onEnd() {
      av.removeEventListener('ended', onEnd);
      i++;
      playmedia();
    });
  }
}

/* stop each <audio>/<video> element in global media[] array */
function stopAll() {
  media.forEach(av => {
    av.pause();
    av.currentTime = 0;
  });
}

function focusflip () {
  document.getElementById('flip').focus();
}

function playallmedia() {
  i = 0;
  playmedia();
}

/* when front of card shows... */
window.onload = function() {
  /* load section#front media */
  loadmedia('front');
  if (media.length == 0) {
    /* flip button focused so you can just press [space] to show back */
    document.getElementById('flip').focus();
  } else {
    /* if there's <audio>/<video>, show, focus, enable [play] button */
    document.getElementById('play').style.display = 'block';
    document.getElementById('play').focus();
    document.getElementById('play').addEventListener('click', playallmedia);
    document.getElementById('play').addEventListener('click', focusflip);
  }
};

/* [flip] button does a few things: */
document.getElementById('flip').addEventListener('click', function() {
  /* hide flip-button section, show answer and review buttons */
  document.getElementById('play').removeEventListener('click', focusflip);
  document.getElementById('reveal').style.display = 'none';
  document.getElementById('back').style.display = 'block';
  document.getElementById('review').style.display = 'block';
  /* listen for 1 2 3 4 r to trigger buttons */
  document.addEventListener('keydown', function(event) {
    if (['1','2','3','4','r'].includes(event.key)) {
      event.preventDefault();
      document.getElementById({'1':'again','2':'hard','3':'good','4':'easy','r':'play'}[event.key]).click();
    }
  });
  /* also edit button shows edit form (instead of review) */
  document.getElementById('showedit').addEventListener('click', function() {
    document.getElementById('review').style.display = 'none';
    document.getElementById('edit').style.display = 'block';
  });
  /* stop playing front media, start playing back */
  stopAll();
  loadmedia('back');
  playmedia();
  /* redefine [play] button to load then play all media on page */
  document.getElementById('play').innerHTML = 'replay';
  document.getElementById('play').removeEventListener('click', playallmedia);
  document.getElementById('play').addEventListener('click', loadmedia('main'));
  document.getElementById('play').addEventListener('click', playallmedia);
});

</script>

